body { background-color: rgb(99, 158, 177);  }
.texto-principal {background-color: rgb(187, 242, 247);}

h1 { text-align: center;
font-size: 30px;
color: rgb(0, 8, 8);
border: 5px solid rgb(108, 7, 248); 
padding: 20px; margin: 20px;}

#salao { height: 100%; width: 100%; } 

p { text-align: justify;
font-size: 20px; 
}

h2 {text-align: center; 
	font-size: 30px;
color: white;}

.itens {display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 30px;
}

#flor {width: 50%;
}
#logo {width: 10%;}

