body { background-color: rgb(99, 158, 177);  }
h1 { text-align: center;
font-size: 20px;
color: rgb(5, 80, 80);
border: 5px solid black; 
padding: 10px; margin: 10px;}
#salao { height: 30%; width: 30%; } 
p { text-align: justify;
font-size: 16px; 
}
h2 {text-align: center; 
	font-size: 30px;
color: white;}
ul {display: inline;
    padding: 50px;
    vertical-align: top;
}
#flor {width: 30%;}